<div class="container-lg py-5">
  <div class="row gx-lg-1 justify-content-center align-items-end">
    <div class="col-md-5 mb-4 mb-md-0">
      <h1 class="fs-2 mb-3 text-primary lh-1"><%= @jot.title %></h1>
      <p class="text-primary fs-sm mb-0">
        <i class="fw-bold">Author:</i> <span class="text-white"><%= @jot.author.name %></span>
        &bull;
        <i class="fw-bold">Published on:</i> <span class="text-white"><%= @jot.created_at %></span>
      </p>
      <div class="d-flex align-items-center justify-content-between mb-3 text-primary fs-sm">
        <p class="d-inline-mb-0">
          <span class="fw-bold me-1">Votes:</span> <span class="text-white"><%= @jot.votes.count %></span>
        </p>

        <div>
          <%= author_controls(@jot) %>
          <%= vote_button(@jot) %>
        </div>
      </div>
      <%= image_tag @jot.image, class: 'jot-image object-fit-cover rounded border border-3 border-primary' %>
    </div>

    <div class="col-md-1 h-100 mb-4 mb-md-0">
      <div class="d-flex flex-md-column bg-light px-1"></div>
    </div>

    <div class="col-md-7 col-lg-6">
      <div class="jot-text-wrapper alert-primary rounded p-3 border border-3 border-primary">
        <%= simple_format @jot.text, class: 'text-secondary lh-sm' %>
      </div>
    </div>
  </div>
</div>
